{% extends "gamesApp/base.html" %}
{% block content %}

<div class="container">
    <div class="row">

      <div class="col-md-3">
          <p class="lead">gamesApp</p>
          <div class="list-group">
              <a href="/" class="list-group-item">Home</a>
              <a href="/gamesApp/companies.html" class="list-group-item active">Companies</a>
              <a href="/gamesApp/platforms.html" class="list-group-item">Platforms</a>
              <a href="/gamesApp/genres.html" class="list-group-item">Genres</a>
              <a href="/gamesApp/games.html" class="list-group-item">Games</a>
          </div>
      </div>

      <div class="col-md-9">

          <div class="thumbnail">
              <div class="caption-full">
                  {% if user == company.user %}
                    <div class="text-right">
                        <a class="btn btn-success"
                        href="{% url 'gamesApp:company_edit' company.id %}">
                          EDIT</a>
                        <a class="btn btn-danger"
                        href="{% url 'gamesApp:company_delete' company.id %}">
                          DELETE</a>
                    </div>
                  {% endif %}
                  <h1>{{ company.name }}</h1>

                  <h3>Abbreviation:</h3>
                  <p>
                      {{ company.abbreviation }}
                  </p>

                  <h3>City:</h3>
                  <p>
                      {{ company.city }}
                  </p>

                  <h3>Mail:</h3>
                  <p>
                      {{ company.mail }}
                  </p>

                  <h3>Website:</h3>
                  <p>
                      {{ company.website }}
                  </p>

                  <h3>Games:</h3>
                  <ul>
                      {% for game in company.games.all %}
                          <li>
                              <p><a href="{% url 'gamesApp:game_detail' game.id 'html' %}">
                                {{ game.name }} </a></p>
                          </li>
                      {% endfor %}
                  </ul>

                  <br/>
                  <div class="text-right">
                    Created by {{ company.user }} on {{ company.date }}
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
