{% extends "gamesApp/base.html" %}
{% load staticfiles %}

{% block content %}

<script>
  $(function() {
        $.getJSON("{% static "countries.json" %}", {}, function (countries) {
            $("#id_country").autocomplete({
                source: countries
            });
        });

        $("#id_name").autocomplete({
          source: function(request, response) {
            $.ajax({
              url: "http://www.giantbomb.com/api/search",
              dataType: "jsonp",
              jsonp: "json_callback",
              crossDomain: "true",
              data: {
                query: request.term,
                api_key: "d4743cd79187148e85372f03179b38b884dbc9ac",
                format: "jsonp",
                resources: "company",
                field_list: "name,abbreviation,location_country,location_city,website",
                limit: "10"
              },
              success: function(data) {
                  response( $.map(data.results, function(item) {
                    return {
                      label: item.name,
                      value: item.name,
                      name: item.name,
                      abbreviation: item.abbreviation,
                      country: item.location_country,
                      city: item.location_city,
                      website: item.website
                    }
                  }));
              }
            });
          },
          minLength: 2,
          select: function( event, ui ) {
            if (ui.item) {
              $("#id_name").val(ui.item.name);
              $("#id_abbreviation").val(ui.item.abbreviation);
              $("#id_country").val(ui.item.country);
              $("#id_city").val(ui.item.city);
              $("#id_website").val(ui.item.website);
            }
          }
        });
    });
</script>

<script>
function goBack() {
    window.history.back();
}
</script>

<form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn btn-success"> <b> SUBMIT </b> </button>
    <button type="reset" class="btn btn-warning"> <b> RESET </b> </button>
    <button onclick="goBack()" type="button" class="btn btn-danger"> <b> CANCEL </b> </button>
</form>

{% endblock %}
