{% extends "gamesApp/base.html" %}
{% block content %}
<h1>
    {{ company.name }}
    {% if user == company.user %}
      (<a href="{% url 'gamesApp:company_edit' company.id %}">edit</a>)
    {% endif %}
</h1>

<h2>Abbreviation:</h2>
<p>
    {{ company.abbreviation }}
</p>

<h2>City:</h2>
<p>
    {{ company.city }}
</p>

<h2>Mail:</h2>
<p>
    {{ company.mail }}
</p>

<h2>Website:</h2>
<p>
    {{ company.website }}
</p>

<h2>Games</h2>
<ul>
    {% for game in company.games.all %}
        <li>
          <p><a href="{% url 'gamesApp:game_detail' game.id 'html' %}">
            {{ game.name }} </a></p>
        </li>
    {% endfor %}
</ul>

Created by {{ company.user }} on {{ company.date }}
{% endblock %}
