{% extends "gamesApp/base.html" %}
{% block title %}Companies - {{ company.name }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">

      <div class="col-md-3">
          <p class="lead">gamesApp</p>
          <div class="list-group">
              <a href="/" class="list-group-item">Home</a>
              <a href="/gamesApp/companies.html" class="list-group-item">Companies</a>
              <a href="/gamesApp/platforms.html" class="list-group-item">Platforms</a>
              <a href="/gamesApp/genres.html" class="list-group-item">Genres</a>
              <a href="/gamesApp/games.html" class="list-group-item active">Games</a>
          </div>
      </div>

      <div class="col-md-9">

          <div class="thumbnail">
              <div class="caption-full">
                  {% if user == game.user %}
                    <div class="text-right">
                        <a class="btn btn-success"
                        href="{% url 'gamesApp:game_edit' game.id %}">
                          EDIT</a>
                        <a class="btn btn-danger"
                        href="{% url 'gamesApp:game_delete' game.id %}">
                          DELETE</a>
                    </div>
                  {% endif %}
                  </div>
                  <!--<span vocab="http://schema.org/" typeof="VideoGame">-->
                  <span itemscope itemtype="http://schema.org/VideoGame">
                  <h1>
                    <div itemprop="name">{{ game.name }}</div>
                    <!--<span property="name">{{ game.name }}</span>-->
                    </h1>

                  <h3>Description:</h3>
                  <p>
                    <div itemprop="description">
                      {{ game.description }}
                    </div>
                  </p>

                  <h3>Release year:</h3>
                  <p>
                    <div itemprop="copyrightYear">
                      {{ game.release_year }}
                    </div>
                  </p>

                  <h3>Website:</h3>
                  <p>
                    <div itemprop="url">
                      {{ game.website }}
                    </div>
                  </p>

                  <h3>Companies:</h3>
                  <ul>
                      {% for company in game.companies.all %}
                          <li>
                            <p><a href="{% url 'gamesApp:company_detail' company.id 'html' %}">
                              <div itemprop="producer" itemscope itemtype="http://schema.org/Organization">
                                <span itemprop="name">{{ company.name }}</span>
                              </div>
                            </a></p>
                          </li>
                      {% endfor %}
                  </ul>

                  <h2>Platforms:</h2>
                  <ul>
                      {% for platform in game.platforms.all %}
                          <li>
                              <p><a href="{% url 'gamesApp:platform_detail' platform.id 'html' %}">
                                <div itemprop="gamePlatform" itemscope itemtype="http://schema.org/Thing">
                                  <span itemprop="name">{{ platform.name }}</span>
                                </div>
                              </a></p>
                          </li>
                      {% endfor %}
                  </ul>

                  <h2>Genres:</h2>
                  <ul>
                      {% for genre in game.genres.all %}
                          <li>
                              <p><a href="{% url 'gamesApp:genre_detail' genre.id 'html' %}">
                                <div itemprop="genre">
                                  {{ genre.name }}
                                </div>
                              </a></p>
                          </li>
                      {% endfor %}
                  </ul>

                  <br/>
                  <div class="text-right">
                    Created by {{ game.user }} on {{ game.date }}
                  </div>
              </div>
          </div>

          <div class="well">
              <h3> Reviews </h3>
              <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                  Average rating <span itemprop="ratingValue">{{ game.averageRating|stringformat:".1f"}}</span>
                  {% with game.gamereview_set.all|length as reviewCount %}
                  from <span itemprop="reviewCount">{{ reviewCount }}</span> review{{ reviewCount|pluralize }}
                  {% endwith %}
                  <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
                    <span itemprop="name">{{ game.name }}</span>
                  </span>
              </div>
              <hr>
              {% for review in game.gamereview_set.all %}
              <div class="row">
                  <div class="col-md-12">
                      <p rel="reviewRating" typeof="Rating">
                        <span itemprop="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                        <span itemprop="ratingValue">{{ review.rating }}</span> start{{ review.rating|pluralize }}
                        {% with RATING_CHOICES|last as best %}
                        <span itemprop="bestRating" content="{{ best.0 }}"></span>
                        {% endwith %}
                      </p>
                      <p property="description">{{ review.comment }}</p>
                      <span class="pull-right">
                        Created by <span property="author"> {{ review.user }}</span> on
                        <span itemprop="datePublished" content=" {{ review.publish_date|date:'Y-m-d' }}">{{ review.publish_date }}</span>
                      </span>
                  </div>
              </div>
              <hr>
              {% endfor %}
                {% if user.username %}
                <h3> Add a Review </h3>
                <hr>
                  <form action="{% url 'gamesApp:review_create' game.id %}" method="post">
                    {% csrf_token %}
                    Message: <textarea name="comment" id="comment" rows="4"></textarea>
                    <p>Rating:</p>
                    <p>
                      <input type="radio" name="rating" id="rating1" value="1" />
                      <label for="choice1">1 star</label>
                      <br/>
                      <input type="radio" name="rating" id="rating2" value="2" />
                      <label for="choice2">2 stars</label>
                      <br/>
                      <input type="radio" name="rating" id="rating3" value="3" />
                      <label for="choice3">3 stars</label>
                      <br/>
                      <input type="radio" name="rating" id="rating4" value="4" />
                      <label for="choice4">4 stars</label>
                      <br/>
                      <input type="radio" name="rating" id="rating5" value="5" />
                      <label for="choice5">5 stars</label>
                      <br/>
                    </p>
                    <button type="submit" class="btn btn-success"> <b> Leave a Review </b> </button>
                </form>
              </hr>
            {% endif %}
          </div>
        </div>
    </div>
</div>
{% endblock %}
