{% extends "gamesApp/base.html" %}
{% block title %}Companies - {{ company.name }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">

      <div class="col-md-3">
          <p class="lead">gamesApp</p>
          <div class="list-group">
              <a href="/" class="list-group-item">Home</a>
              <a href="/gamesApp/companies.html" class="list-group-item">Companies</a>
              <a href="/gamesApp/platforms.html" class="list-group-item">Platforms</a>
              <a href="/gamesApp/genres.html" class="list-group-item">Genres</a>
              <a href="/gamesApp/games.html" class="list-group-item active">Games</a>
          </div>
      </div>

      <div class="col-md-9">

          <div class="thumbnail">
              <div class="caption-full">
                  {% if user == game.user %}
                    <div class="text-right">
                        <a class="btn btn-success"
                        href="{% url 'gamesApp:game_edit' game.id %}">
                          EDIT</a>
                        <a class="btn btn-danger"
                        href="{% url 'gamesApp:game_delete' game.id %}">
                          DELETE</a>
                    </div>
                  {% endif %}
              </div>
                  <span vocab="http://schema.org/" typeof="VideoGame">
                  <h1>
                    <div property="name">{{ game.name }}</div>
                  </h1>
                  <!-- Les propietats applicationCategory, offers i sameAs s'han
                  afegit per recomanació (WARNINGS) de l'eina de proves de dades
                  estructurades de Google amb valors no reals -->
                  <div property="applicationCategory" content="VideoGame"></div>
                  <div property="offers" typeof="Offer">
                    <div property="price" content=0></div>
                    <div property="priceCurrency" content=0></div>
                  </div>
                  <div property="sameAs" content="{{ game.website }}"></div>
                  <h3>Description:</h3>
                  <p>
                    <div property="description">
                      {{ game.description }}
                    </div>
                  </p>

                  <h3>Release year:</h3>
                  <p>
                    <div property="copyrightYear">
                      {{ game.release_year }}
                    </div>
                  </p>

                  <h3>Website:</h3>
                  <p>
                    <div property="url">
                      {{ game.website }}
                    </div>
                  </p>

                  <h3>Companies:</h3>
                  <ul>
                      {% for company in game.companies.all %}
                          <li>
                            <div property="producer" typeof="Organization">
                              <p><a property="url" href="{% url 'gamesApp:company_detail' company.id 'html' %}">
                                  <span property="name">{{ company.name }}</span>
                              </a></p>
                            </div>
                          </li>
                      {% endfor %}
                  </ul>

                  <h2>Platforms:</h2>
                  <ul>
                      {% for platform in game.platforms.all %}
                          <li>
                            <div property="operatingSystem" content="{{ platform.name}}"></div>
                            <div property="gamePlatform" typeof="Thing">
                              <p><a property="url" href="{% url 'gamesApp:platform_detail' platform.id 'html' %}">
                                  <span property="name">{{ platform.name }}</span>
                              </a></p>
                            </div>
                          </li>
                      {% endfor %}
                  </ul>

                  <h2>Genres:</h2>
                  <ul>
                      {% for genre in game.genres.all %}
                          <li>
                              <p><a href="{% url 'gamesApp:genre_detail' genre.id 'html' %}">
                                <div property="genre">
                                  {{ genre.name }}
                                </div>
                              </a></p>
                          </li>
                      {% endfor %}
                  </ul>

                  <br/>
                  <div class="text-right">
                    Created by {{ game.user }} on {{ game.date }}
                  </div>
                  <div property="aggregateRating" typeof="AggregateRating">
                    <span property="ratingValue" content="{{ game.averageRating|stringformat:".1f"}}"></span>
                    {% with game.gamereview_set.all|length as reviewCount %}
                    <span property="reviewCount" content="{{ reviewCount }}"></span>
                    {% endwith %}
                    <span property="itemReviewed" typeof="Thing">
                      <span property="name" content="{{ game.name }}"></span>
                    </span>
                    <span property="worstRating" content=1.0></span>
                    <span property="bestRating" content=5.0></span>
                  </div>
                  {% for review in game.gamereview_set.all %}
                    <div property="review" typeof="Review">
                      <span property="description" content="{{ review.comment}}"></span>
                      <span property="author" typeof="Person">
                        <span property="name" content="{{ review.user }}"></span>
                      </span>
                      <span property="datePublished" content="{{ review.publish_date|date:'Y-m-d'}}"></span>
                    </div>
                  {% endfor %}
                </span>
              </div>
          </div>

          <div class="well">
              <h3> Reviews </h3>
              <p>
                  Average rating {{ game.averageRating|stringformat:".1f"}}
                  {% with game.gamereview_set.all|length as reviewCount %}
                  from {{ reviewCount }} review{{ reviewCount|pluralize }}
                  {% endwith %} of {{ game.name }}
              </p>
              <hr>
              {% for review in game.gamereview_set.all %}
              <div class="row">
                  <div class="col-md-12">
                      <p>{{ review.rating }} start{{ review.rating|pluralize }}</p>
                      <p>{{ review.comment }}</p>
                      <span class="pull-right">
                        Created by {{ review.user }} on {{ review.publish_date }}
                      </span>
                  </div>
              </div>
              <hr>
              {% endfor %}
                {% if user.username %}
                <h3> Add a Review </h3>
                <hr>
                  <form action="{% url 'gamesApp:review_create' game.id %}" method="post">
                    {% csrf_token %}
                    Message: <textarea name="comment" id="comment" rows="4"></textarea>
                    <p>Rating:</p>
                    <p>
                      <input type="radio" name="rating" id="rating1" value="1" />
                      <label for="choice1">1 star</label>
                      <br/>
                      <input type="radio" name="rating" id="rating2" value="2" />
                      <label for="choice2">2 stars</label>
                      <br/>
                      <input type="radio" name="rating" id="rating3" value="3" />
                      <label for="choice3">3 stars</label>
                      <br/>
                      <input type="radio" name="rating" id="rating4" value="4" />
                      <label for="choice4">4 stars</label>
                      <br/>
                      <input type="radio" name="rating" id="rating5" value="5" />
                      <label for="choice5">5 stars</label>
                      <br/>
                    </p>
                    <button type="submit" class="btn btn-success"> <b> Leave a Review </b> </button>
                </form>
              </hr>
            {% endif %}
          </div>
        </div>
    </div>
</div>
{% endblock %}
