{% extends "gamesApp/base.html" %}
{% block content %}
<h1>
    {{ game.name }}
    {% if user == game.user %}
      (<a href="{% url 'gamesApp:game_edit' game.id %}">edit</a>)
    {% endif %}
</h1>

<h2>Description:</h2>
<p>
    {{ game.description }}
</p>

<h2>Release year:</h2>
<p>
    {{ game.release_year }}
</p>

<h2>Website:</h2>
<p>
    {{ game.website }}
</p>

<h2>Companies:</h2>
<ul>
    {% for company in game.companies.all %}
        <li>
            <p><a href="{% url 'gamesApp:company_detail' company.id 'html' %}">
              {{ company.name }} </a></p>
        </li>
    {% endfor %}
</ul>

<h2>Platforms:</h2>
<ul>
    {% for platform in game.platforms.all %}
        <li>
            <p><a href="{% url 'gamesApp:platform_detail' platform.id 'html' %}">
              {{ platform.name }} </a></p>
        </li>
    {% endfor %}
</ul>

<h2>Genres:</h2>
<ul>
    {% for genre in game.genres.all %}
        <li>
            <p><a href="{% url 'gamesApp:genre_detail' genre.id 'html' %}">
              {{ genre.name }} </a></p>
        </li>
    {% endfor %}
</ul>

<h2>Reviews</h2>
<ul>
    {% for review in game.gamereview_set.all %}
        <li>
            <p>{{ review.rating }} star{{ review.rating|pluralize }}</p>
            <p>{{ review.comment }}</p>
            <p>Created by {{ review.user }} on {{ review.publish_date }}</p>
        </li>
    {% endfor %}
</ul>

Created by {{ game.user }} on {{ game.date }}
{% endblock %}
