{% extends "gamesApp/base.html" %}
{% load staticfiles %}

{% block content %}

<script>
  $(function() {
        $.getJSON("{% static "countries.json" %}", {}, function (countries) {
            $("#id_country").autocomplete({
                source: countries
            });
        });

        $("#id_name").autocomplete({
          source: function(request, response) {
            $.ajax({
              url: "http://www.giantbomb.com/api/search",
              dataType: "jsonp",
              jsonp: "json_callback",
              crossDomain: "true",
              data: {
                query: request.term,
                api_key: "d4743cd79187148e85372f03179b38b884dbc9ac",
                format: "jsonp",
                resources: "game",
                field_list: "name,deck,original_release_date",
                limit: "10"
              },
              success: function(data) {
                  response( $.map(data.results, function(item) {
                    return {
                      label: item.name,
                      value: item.name,
                      name: item.name,
                      deck: item.deck,
                      release_year: item.original_release_date
                    }
                  }));
              }
            });
          },
          minLength: 2,
          select: function( event, ui ) {
            if (ui.item) {
              var year = ui.item.release_year;
              year = year.substring(0,4);
              $("#id_name").val(ui.item.name);
              $("#id_description").val(ui.item.release_year);
              $("#id_release_year").val(year);
            }
          }
        });
    });
</script>

<script>
function goBack() {
    window.history.back();
}
</script>

<form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn btn-success"> <b> SUBMIT </b> </button>
    <button type="reset" class="btn btn-warning"> <b> RESET </b> </button>
    <button onclick="goBack()" type="button" class="btn btn-danger"> <b> CANCEL </b> </button>
</form>

{% endblock %}
