{% extends "gamesApp/base.html" %}
{% load staticfiles %}

{% block content %}

<script>
        $(function() {
            $.getJSON("{% static "genres.json" %}", {}, function (genres){
                $("#id_name").autocomplete({
                    source: genres
                });
            });
        });
</script>

<form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn btn-success"> <b> SUBMIT </b> </button>
</form>

{% endblock %}
