{% extends "gamesApp/base.html" %}
{% block content %}

<div class="container">
    <div class="row">

      <div class="col-md-3">
          <p class="lead">gamesApp</p>
          <div class="list-group">
              <a href="/" class="list-group-item">Home</a>
              <a href="/gamesApp/companies.html" class="list-group-item">Companies</a>
              <a href="/gamesApp/platforms.html" class="list-group-item active">Platforms</a>
              <a href="/gamesApp/genres.html" class="list-group-item">Genres</a>
              <a href="/gamesApp/games.html" class="list-group-item">Games</a>
          </div>
      </div>

      <div class="col-md-9">

          <div class="thumbnail">
              <div class="caption-full">
                  {% if user == platform.user %}
                    <div class="text-right">
                        <a class="btn btn-success"
                        href="{% url 'gamesApp:platform_edit' platform.id %}">
                          EDIT</a>
                        <a class="btn btn-danger"
                        href="{% url 'gamesApp:game_delete' game.id %}">
                          DELETE</a>
                    </div>
                  {% endif %}
                  <h1>{{ platform.name }}</h1>

                  <h3>Price:</h3>
                  <p>
                      {{ platform.price }}
                  </p>

                  <h3>Release Year:</h3>
                  <p>
                      {{ platform.release_year }}
                  </p>

                  <h3>Games:</h3>
                  <ul>
                      {% for game in platform.games.all %}
                          <li>
                              <p><a href="{% url 'gamesApp:game_detail' game.id 'html' %}">
                                {{ game.name }} </a></p>
                          </li>
                      {% endfor %}
                  </ul>

                  <br/>
                  <div class="text-right">
                    Created by {{ platform.user }} on {{ platform.date }}
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
