{% extends "gamesApp/base.html" %}
{% block content %}
<h1>
    {{ platform.name }}
    {% if user == platform.user %}
      (<a href="{% url 'gamesApp:platform_edit' platform.id %}">edit</a>)
    {% endif %}
</h1>

<h2>Price:</h2>
<p>
    {{ platform.price }}
</p>

<h2>Release Year:</h2>
<p>
    {{ platform.release_year }}
</p>

<h2>Games</h2>
<ul>
    {% for game in platform.games.all %}
        <li>
            <p><a href="{% url 'gamesApp:game_detail' game.id 'html' %}">
              {{ game.name }} </a></p>
        </li>
    {% endfor %}
</ul>

Created by {{ platform.user }} on {{ platform.date }}
{% endblock %}
