{% extends "gamesApp/base.html" %}
{% block content %}

<div class="container">
    <div class="row">

      <div class="col-md-3">
          <p class="lead">gamesApp</p>
          <div class="list-group">
              <a href="/" class="list-group-item">Home</a>
              <a href="/gamesApp/companies.html" class="list-group-item">Companies</a>
              <a href="/gamesApp/platforms.html" class="list-group-item active">Platforms</a>
              <a href="/gamesApp/genres.html" class="list-group-item">Genres</a>
              <a href="/gamesApp/games.html" class="list-group-item">Games</a>
          </div>
      </div>

      <div class="col-md-9">
          <div class="well">
              {% if user.is_authenticated %}
                <div class="text-right">
                    <a class="btn btn-success" href="{% url 'gamesApp:platform_create' %}">ADD</a>
                </div>
              {% endif %}

              <hr>

              <div class="row">
                  <div class="col-md-12">

                      {% for platform in latest_platforms_list %}
                      <a href="{% url 'gamesApp:platform_detail' platform.id 'html' %}">
                        <center>
                          <h4>
                            {{ platform.name }}
                          </h4>
                        </center>
                      </a>
                      {% empty %}<center><h4>Sorry, no platforms registered yet</h4></center>
                      {% endfor %}

                  </div>
              </div>

          </div>
      </div>

    </div>
</div>
{% endblock %}
